doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/3rd-party/medium-editor/css/medium-editor.css")
    link(rel="stylesheet" href="/3rd-party/medium-editor/css/themes/default.css")
  body
    block content
    script(src="/3rd-party/medium-editor/js/medium-editor.js")
    block scripts
